<?xml version="1.0"?>
<ruleset name="AI ChatMate">
	<description>Coding standards for AI ChatMate.</description>

	<file>.</file>

	<exclude-pattern>/vendor/*</exclude-pattern>
	<exclude-pattern>/node_modules/*</exclude-pattern>
	<exclude-pattern>/tests/*</exclude-pattern>

	<arg name="extensions" value="php"/>
	<arg value="ps"/>

	<rule ref="WordPress-Extra"/>
	<rule ref="WordPress-Docs"/>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="aicm"/>
				<element value="AICM"/>
				<element value="AI_ChatMate"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="ai-chatmate"/>
			</property>
		</properties>
	</rule>

	<config name="minimum_wp_version" value="6.0"/>
</ruleset>
